.themeButtons {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
}

.navButtonList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: fit-content;
}

.sidebar-closed {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: calc(var(--sidebarWidth) - 0.5rem);
    background-color: var(--primary-500);
}