<app-sidebar></app-sidebar>
<div class="musicControls">
    <button pButton (click)="addNoteOnGame(row, true)">AddNote</button>
    <div class="card flex justify-content-center">
        <p-inputNumber 
            [(ngModel)]="row" 
            [style]="{'width': '3rem'}"
            [showButtons]="true" 
            buttonLayout="vertical" 
            spinnerMode="vertical" 
            inputId="vertical"
            decrementButtonClass="p-button-primary"
            incrementButtonClass="p-button-primary" 
            incrementButtonIcon="fa-solid fa-plus" 
            decrementButtonIcon="fa-solid fa-minus"
            [min]="0" [max]="16" />
    </div>
    <button pButton (click)="isMusicPaused?resumeMusic():pauseMusic()">{{isMusicPaused?'Resume':'Pause'}}</button>
</div>

<phaser-game></phaser-game>