<app-sidebar></app-sidebar>

<div id="docBody" class="centerDashboard">
    <div class="inRow spacingDashboard heightLimit">
        <app-chart-visualization></app-chart-visualization>
        <div class="secondColumn spacingDashboard">
            <div class="numericDisplays spacingDashboard">
                <app-numeric-visualization class="w-100" upperText="Você logou por" [numericInfo]="daysInArow" lowerText="dias consecutivos! Parabéns"></app-numeric-visualization>
            </div>
            <div class="listDisplay">
                <app-list-visualization></app-list-visualization>
            </div>
        </div>
    </div>
</div>
