<div class="m-2_3-a">

    <div class="partitura">
        <div class="m-16-y">
            <div class="hr hr_black m-32-b"><div class="nota"></div></div>
            <div class="hr hr_blank m-32-b"><div class="nota"></div></div>
            <div class="hr hr_black m-32-b"></div>
            <div class="hr hr_blank m-32-b"><div class="nota"></div></div>
            <div class="hr hr_black m-32-b"></div>
            <div class="hr hr_blank m-32-b"><div class="nota"></div></div>
            <div class="hr hr_black m-32-b"></div>
            <div class="hr hr_blank m-32-b"><div class="nota"></div></div>
            <div class="hr hr_black"></div>
        </div>
    </div>

</div>