<div class="m-2_3-a">

    <div class="partitura">
        <div class="notas">
            <app-secao-nota [indexNota]="0"></app-secao-nota>
            <app-secao-nota [indexNota]="1"></app-secao-nota>
            <app-secao-nota [indexNota]="2"></app-secao-nota>
            <app-secao-nota [indexNota]="3"></app-secao-nota>
            <app-secao-nota [indexNota]="4"></app-secao-nota>
            <app-secao-nota [indexNota]="5"></app-secao-nota>
            <app-secao-nota [indexNota]="6"></app-secao-nota>
            <app-secao-nota [indexNota]="7"></app-secao-nota>
            <app-secao-nota [indexNota]="8"></app-secao-nota>
            <app-secao-nota [indexNota]="10"></app-secao-nota>
            <app-secao-nota [indexNota]="8"></app-secao-nota>
        </div>
    </div>

</div>