.graphCard {
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--primary-color);
    width: 500px;
    height: 288px;
    max-height: 288px;
    display: grid;
    grid-template-columns: 1fr;
}

.backgroundEditIcon {
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 2rem;
    height: 2rem;
    user-select: none;
    translate: 452px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    opacity: 0;
}

.dashboardElement {
    grid-row-start: 1;
    grid-column-start: 1;
}

.graphCard:hover .backgroundEditIcon {
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
}