.centerElements {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.musicList {
    display: flex;
    flex-direction: column;
    width: 80vw;
    width: 50vh;
    overflow: scroll;
    gap: 1rem;
}

.campoTexto {
    width: 100%;
}

.campoModal {
    display: flex;
    justify-content: center;
}

.botoesModal {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-end;
}

.estruturaModal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
