<app-sidebar></app-sidebar>

<div class="centerElements">
    <div class="musicList">
        <div *ngFor="let music of musicList">
            <button pButton (click)="selectMusic(music)">{{music.name}}</button>
        </div>
    </div>
    <button pButton label="Adicionar nova música" (click)="adicionarMusica()"></button>
</div>

<p-dialog header="Qual o nome da sua música?" [modal]="true" [(visible)]="isFileNameModalOpen" [style]="{ width: '25rem' }">
    <div class="flex justify-content-end gap-2">
            <div class="estruturaModal">
                <div class="campoModal">
                    <input type="text" class="campoTexto" pInputText [(ngModel)]="newMusicName" />
                </div>
                <div class="botoesModal">
                    <p-button label="Cancel" severity="secondary" (onClick)="fecharModal()" />
                    <p-button label="Save" (onClick)="confirmarModal()"/>
                </div>
            </div>
    </div>
</p-dialog>