::ng-deep{
    .cropper-view-box,
    .cropper-face {
      border-radius: 50%;
    }

    .cropper-view-box {
        outline: 0;
        box-shadow: 0 0 0 1px #39f;
    }
}

.crop-actions{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.image-container {
    width: fit-content;
    height: fit-content;
    max-width: 70vw;
    max-height: 50vh;
}