@import "primeicons/primeicons.css";
// @import "themes/light-soho.scss";

:root {
  --sidebarWidth: calc(4rem + 0.5rem);
}

.w-100 {
  width: 100%;
}

.inRow {
  display: flex;
  flex-direction: row;
}

.inColumn {
  display: flex;
  flex-direction: column;
}

.squared {
  aspect-ratio: 1/1;
}

.m-sm-r {
  margin-right: 0.5rem;
}