.hr {
    height: 1px;
    width: 100%;
    overflow: visible;
    color: black;
    padding: 0 0.5rem;

    &_black{
        background-color: rgba(black, 0.4);
    }
    &_blank {
        background-color: rgba(black, 0);
    }
}

.centerNote {
    translate: 0 -50%;
    position: relative;
}

.transparent {
    color: transparent;
}

.bmol {
    position: absolute;
    top: -6px;
    left: -12px;
    font-size: 30px;
}